/ABOUT-NLS
/build-aux
**/*.a
**/*.la
**/*.lo
**/*.o
**/*~
**/.dirstamp
.deps
.libs
.version
/usr
GNUmakefile
INSTALL
Makefile
Makefile.in
README-release
aclocal.m4
adftool-*.*.*.tar.gz
adftool-*.*.*/
autogen.sh
autom4te.cache
autopull.sh
bootstrap
bootstrap-funclib.sh
channel_metadata_example.adf
config.h
config.h.in
config.log
config.status
configure
corrupted.adf
dictionary_example.adf
doc/*.info
doc/.gitignore
doc/stamp-vti
doc/version.texi
eeg_data_example.adf
eeg_metadata_example.adf
filter-log
gen-bootstrap.sed
gitsub.sh
lib/
libprog/
libtool
m4/
m4prog/
maint.mk
multi_statement_example.adf
non-existing.adf
po/*.gmo
po/.gitignore
po/.reference
po/LINGUAS
po/Makevars
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
src/*.log
src/*.trs
src/.deps
src/adftool
src/channel_metadata_example
src/check_bplus
src/check_fine_eeg_get_data
src/check_lookup_pagination
src/data_file_example
src/date_parser_example
src/dictionary_example
src/eeg_data_example
src/eeg_metadata_example
src/file_open_example
src/filter_example
src/filter_test_data.c
src/libadftool/.deps
src/libadftool/libadftool_la-lexer.c
src/multi_statement_example
src/simple_filters
src/statement_get_with_arrays
src/statement_manipulation_example
src/term_manipulation_example
src/term_parser_example
src/timespec_example
stamp-h1
statement_example.adf
term_example.adf
test-suite.log
tests/.deps
tests/.gitignore
tests/Makefile
well-formed.adf
